*{
    margin: 0px;
    padding: 0px;
}
h1{
    margin-left: 50px;
}
nav{
    box-shadow: 10px 10px 33px 4px rgb(166, 204, 228);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}
input{
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    border: black 2px solid;
}